/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 25px !important;
  background-color: #DDFDFD !important;
  font-family: arial, sans-serif !important;
  font-size: 1.2em !important;
}

h1.lia-h1 {
  font-size: 3em !important;
  font-weight: normal !important;
  margin-top: 10px !important;
}
